@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer utilities {
  html {
    overflow-y: auto;
  }

  body {
    font-family: "Poppins", "sans-serif";
    overflow-x: hidden;
}
  .text-footer {
    color: #606060;
  }

  .checkbox {
    appearance: none;
  }

  .innerNode {
    width: 5px;
    height: 5px;
  }

  .tile-idle {
    filter: invert(6%) sepia(96%) saturate(3923%) hue-rotate(209deg) brightness(94%)
      contrast(106%);
  }

  .tile-selected {
    filter: invert(99%) sepia(5%) saturate(16%) hue-rotate(173deg) brightness(106%)
      contrast(100%);
  }

  .tile-disabled {
    filter: invert(100%) sepia(0%) saturate(1381%) hue-rotate(72deg) brightness(87%)
      contrast(84%);
  }

  input.input {
  }

  input.input::placeholder {
    color: rgba(18, 18, 18, 0.4);
  }
  .invisible
  {
    z-index: 9;
  }
  img.object-cover.w-10.h-10.md\:w-12.md\:h-12.tile-idle {
    height: 40px !important;
    object-fit: contain;
}
/* section.absolute.flex.items-center.justify-center.px-6.mx-3.mt-20.mb-8.top-0.alert-enter-done {
  width: 20%;
} */
.congrates-div
{
  width: 20%;
}
}
