@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-footer {
    color: #606060;
  }

  .checkbox {
    appearance: none;
  }

  .innerNode {
    width: 5px;
    height: 5px;
  }

  .tile-idle {
    filter: invert(6%) sepia(96%) saturate(3923%) hue-rotate(209deg) brightness(94%)
      contrast(106%);
  }

  .tile-selected {
    filter: invert(99%) sepia(5%) saturate(16%) hue-rotate(173deg) brightness(106%)
      contrast(100%);
  }

  .tile-disabled {
    filter: invert(100%) sepia(0%) saturate(1381%) hue-rotate(72deg) brightness(87%)
      contrast(84%);
  }
}
