.tabs > .menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 5px 31px;
}

.tabs > .menu > a {
  display: flex;
  margin-right: 10px;
  text-align: center;
  align-items: center;
  margin-bottom: 5px;
}

.tabs > .tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tabs > .tab > div.w-full:nth-child(2) {
  margin-top: 20px;
}

.tabs > .tab .tile {
  margin-top: 0;
  margin: 1%;
} 
@media (min-width: 540px) {
  .tabs > .menu {
    flex-wrap: nowrap;
  }
}
@media (max-width: 768px) {
  .w-36 {
    width: 9rem;
    margin: 1%;
  }
.tabsclass
{
  width: 90%;
}
}

.tabs.flex-col.tabsclass {
  width: 100%;
}